*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: slategray;
}

.main_container {
  width: 1200px;
  margin: auto;
  background: white;
}

.header_h1 {
  margin: 0px 0 20px 15px;
  padding: 35px 35px 20px 35px;
}

/* Style Buttons */

.submit-btn {
  height: 50px;
  width: 175px;
  border-radius: 10px;
  margin: 10px;
  border-style: none;
  background-color: slategray;
  color: white;
  font-weight: bold;
}

button {
  height: 40px;
  width: 75px;
  border-radius: 10px;
  margin: 10px;
  border-style: none;
  background-color: slategray;
  color: white;
  font-weight: bold;
}

/* Journal Entry Input Box */

.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_form {
  font-weight: bold;
  font-size: 1.25em;
  border: 3px double slategray
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 10px;
  border: none;
}

label {
  padding: 5px;
}

.submitInput {
  border-radius: 3px;
  width: 100%;
  height: 30px;
}

.textareaInput {
  border-radius: 3px;
  width: 100%;
  height: 150px;
}

select {
  background: white;
}

/* Journal Entry EDIT Input Box */

.editForm {
  margin-top: 20px;
  margin-left: 20px;
}

.editFieldset {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 10px;
}

/* .editLabel {
  padding: 5px;
} */

/* Modify Journal Entry Display */

.journal_log_header {
  display: flex;
  margin: 20px;
}

h1 {
  margin: 0 auto;
}

.journal_entry {
  border: 5px double black;
  width: 500px;
  margin: 10px 0px 50px 0;
  padding: 10px;
}

.entryLog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.entry_text {
  word-wrap: break-word;
}

/* Mood Filter */

.moodContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filter_form {
  margin-top: 20px;
}

.filter_fieldset {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 10px;
  border: 1px solid black;
  height: 100px;
}

.moodFilter {
  width: 80%;
  height: 20px;
}

/* Search Field */

.search_form {
  margin-top: 20px;
}

.search_fieldset {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 10px;
  border: 1px solid black;
  height: 100px;
}

.searchInput {
  border-radius: 3px;
  width: 100%;
  height: 30px;
}

.miscForms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}